<!-- cost_bar.html -->
{% extends 'layout.html' %}

{% block content %}

<h3>Introduction</h3>

<body>
It is no secret in the scientific community that man-made climate change is exacerbating natural disasters. 
Additional action is needed to mitigate the rate of climate change and the damaging effects of ensuing disasters.
</body>

<body>
Browse the navigation menu above, which leads to interactive graphics demonstrating the geographic and temporal distribution of climate change, disasters and costs for the United States.
</body>

{% endblock %}